<%- include ("./templates/_header") %>

<h1 id="titulos">Bienvenido a CheckOut</h1>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
  
              <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="data:image/<%=producto.img.contentType%>;base64,
					<%=producto.img.data.toString('base64')%>"></div>
                  <div class="col-md-4 mt-1">
                      <h5><%= producto.name  %></h5>
                      <div class="d-flex flex-row">
                          <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      </div>
                      <div class="mt-1 mb-1 spec-1"><span><%= producto.description  %></span><span class="dot"></span></div>
                      <p class="text-justify text-truncate para mb-0">Talla: <%= producto.size  %> MX (cm)<br><br></p>
                      <br>
                  </div>
                  <div class="align-items-center align-content-center col-md-5 border-left mt-1">
                      <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">$<%= producto.price  %></h4>
                      </div>
                        <h6 class="text-success">Free shipping</h6>
                        <p class="text-justify text-truncate para mb-0">Realizar pago</p>
                        <p class="text-justify text-truncate para mb-0"> <strong>Dirección de Pick-up: <strong></p>
                        <p class="text-justify text-wrap para mb-0">https://itesm.zoom.us/j/2333100950</p>

                      <div class="d-flex flex-column mt-4">

                        <form role="form" action="/productSelled/<%=producto._id%>" method="POST">
                            <input type="submit" value="Confirmar Compra" class="btn btn-info btn-block">
  
                        </form>

                        
                  </div>
              </div>


<%- include ("./templates/_footer") %>

<script>



</script>